<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Ajouter des utilisateurs et des produits</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style_ajout.css">
  </head>
  <body>
    <div>
      <h1>Ajouter des utilisateurs et des produits</h1>
      <p>Veuillez sélectionner une base de données :</p>
      <select id="selecteur">
          <option value="Neo4j">Neo4j</option>
          <option value="MariaDB">MariaDB</option>
      </select>
      <fieldset>
        <legend>Ajouter des utilisateurs</legend>
        <label for="nb-users">Nombre d'utilisateurs à ajouter :</label>
        <input type="number" id="nb-users" name="nb-users" min="1" max="10000" required>
        <button type="submit" id="add-users">Ajouter</button>
      </fieldset>
      <fieldset>
        <legend>Ajouter des liens (min = 0 - max = 0.02)</legend>
        <button type="submit" id="add-link">Ajouter</button>
      </fieldset>
      <fieldset>
        <legend>Ajouter des produits</legend>
        <label for="nb-products">Nombre de produits à ajouter :</label>
        <input type="number" id="nb-products" name="nb-products" min="1" max="10000" required>
        <button type="submit" id="add-products">Ajouter</button>
      </fieldset>
      <fieldset>
        <legend>Ajouter des achats</legend>
        <button type="submit" id="add-achat">Ajouter</button>
      </fieldset>
    </div>

    <div>
      <button type="submit" id="BtnRetour">Retour home</button>
    </div>
    <script src="../script_ajout.js"></script>
  </body>
</html>
