body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  div {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  button {
    background-color: #4caf50;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
  }
  
  select {
    background-color: #f2f2f2;
    border: none;
    padding: 10px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  .caption {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
  }
  
    